.contents
  .content-top
    .text
      .group
        techcamp
      .member
        Member : suzuki
    .btn 
      %button.type Edit
  .content-main
    .user
      .member
        suzuki 
      .date
        2019/12/07(sut) 18:03:27
    .title
      お疲れ様です
 
    .user
      .member
        suzuki
      .date
        2019/12/08(sun) 07:35:08
    .title  
      おはようございます
  .content-bottom
    .form
      .text-icon
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
          %input{type: "text"}
      .btn-bottom
        Send


     