.side-bar
  .side-bar-top
    .name
      = current_user.name
      suzuki    
    .icon
      = link_to'#' do
        %i.fas.fa-edit
      = link_to edit_user_path(current_user) do  
        %i.fas.fa-cog.fa-fw
        
  .side-bar-top2
    .group
      techcamp
    .message
      メッセージがありません
 