.side-bar {
    width :300px;
    background-color : #2f3e51;
    height: 100px;
    float: left;
    margin-bottom: 0px;


    .side-bar-top{
        background-color: #253141; 
        height: 100px;
        width: 300px;
        display: flex;
        color: white;
   
       
        .name{
            padding: 40px 20px;

        }

      .icon{
        float: right;
        display: flex;
        margin: auto;
        margin-right:20px;
        a{
            margin-right: 5px;
            color: white;
        }
      }

    }

    .side-bar-top2{
        height: calc(100vh - 100px);
        width: 300px;
        background-color: #2f3e51;
        color: white;
        position:absolute;

        .group{
            font-size: 15px;
            margin-top: 20px;
            margin-left:20px;
        }

        .message{
            font-size: 11px;
            margin-top: 5px;
            margin-left: 20px;
        }

    }

}